.footer-main-end{
    display: flex;
    justify-content: center;
}

.footer-main-end p{
    padding:auto;
}


.footer-main-content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image:linear-gradient(0deg, rgba(78, 77, 78, 0.494), rgba(93, 90, 92, 0.3)), url("images/school_background.jpg");
    background-repeat: repeat;
    background-size: cover;
}